    git+https://github.com/ansible/ansible-sign
    paramiko
    pykerberos
    pyOpenSSL
    pypsrp[kerberos,credssp]
    pywinrm[kerberos,credssp]
    toml
    pyyaml
    six
    netaddr
    google-auth
    zabbix-api
    boto
    boto3
    botocore
    pexpect
    prettytable
    ntplib
    python-daemon
    jmespath
    jxmlease
    ncclient
    cryptography
    passlib
    pysphere
    pyvmomi
    docker
    #    docker-compose
    omsdk
    pysnmp
    requests
    PyYAML
    future
    pysnmp_mibs
    lxml
